@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

#writing-header {
    text-align: center;
    font-family: 'Rubik Mono One', cursive;
    font-size: 9em;
}

.analysis-header {
    font-family: 'Patua One', cursive;
    font-size: 3em;
    position: relative;
    left: 100px;
    border-bottom: double 9px #000;
    width: 40%;
}