#message-header-one {
    text-align: center;
    font-size: 6em;
    font-family: 'Rubik Mono One', cursive;
    position: relative;
    top: 300px;
}

#message-header-two {
    text-align: center;
    font-size: 10em;
    font-family: 'Rubik Mono One', cursive;
    position: relative;
    top: 130px;
}

#lead-in {
    text-align: center;
    font-size: 2em;
    font-family: 'Manrope', sans-serif;
}

.subtlety-header {
    font-family: 'Fredoka One', cursive;
    position: relative;
    width: 90%;
    left: 50px;
    font-size: 2em;
    border-bottom: 3px solid #000;
}

.subtlety-text {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 90%;
    left: 50px;
    font-size: 1.2em;
}