@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Manrope:wght@700&family=Montserrat:ital@0;1&family=Permanent+Marker&family=Roboto+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$manrope: 'Manrope', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Mono', monospace;
$title: 'Permanent Marker', cursive;
$lexend: "Lexend Deca", sans-serif;

#purpose-header {
    text-align: center;
    font-size: 3em;
}