@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:ital@0;1&family=Permanent+Marker&family=Roboto+Mono&display=swap');

$manrope: 'Manrope', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Mono', monospace;
$title: 'Permanent Marker', cursive;

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #fff1e9;
}

#nav {
    z-index: 10;
    display: flex;
    justify-content: left;
    list-style: none;
    font-family: $manrope;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px rgba(108, 108, 108, 0.1);
    position: fixed;
    top: 0;
}

.nav-btn {
    width: calc(100% / 10);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background-color: #fff;
}

.nav-btn:hover {
    background-color: #fafafa;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.1);
}

#book-analysis {
    position: relative;
    top: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#book-title, #book-author {
    margin: 0;
    font-family: $title;
    font-size: 3.5em;
    width: 100%;
    text-align: center;
    user-select: none;
    text-shadow: 8px 3px rgb(255, 255, 255)
}

#book-author {
    font-size: 2.5em;
}

#outline {
    display: flex;
    width: 100%;
}

.section-analysis {
    width: 50%;
    position: relative;
    left: 120px;
    top: 130px;
    font-family: $montserrat;
    font-size: 1.4em;
}

.headers {
    position: relative;
    top: 10px;
    font-size: 1.5em;
    border-bottom: 9px #000 double;
    font-family: $montserrat;
    font-size: 1;
    margin: 0;
}

p {
    font-size: .9em;
    padding: 0;
    line-height: 1.6em;
}

.flex {
    display: flex;
    justify-content: center;
}

#book-cover {
    width: 50%;
    position: relative;
    top: 50px;
    box-shadow: 0px 7px 17px 5px rgba(107, 107, 117, 0.2);
}

a {
    text-decoration: none;
    color: #000 !important;
}

a:focus {
    outline: none;
}