@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Manrope:wght@700&family=Montserrat:ital@0;1&family=Permanent+Marker&family=Roboto+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$manrope: 'Manrope', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Mono', monospace;
$title: 'Permanent Marker', cursive;
$lexend: "Lexend Deca", sans-serif;

#context-header {
    font-family: $montserrat;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    top: 400px;
    background-color: rgb(255, 251, 240);
    padding: 5px 10px 5px 10px;
    width: 60%; 
    border: double 9px #000;
    box-shadow: 5px 5px 10px 5px rgba(120, 120, 120, 0.1);
    text-shadow: 8px 3px rgb(255, 255, 255);
    z-index: 1;
}

#context {
    font-size: 1.4em;
    font-family: 'Lora', serif;
    width: 50%;
    position: relative;
    top: 400px;
    z-index: 2;
}

#colorPads div {
    transition: .8s;
    z-index: 0;
}

#colorPads div:nth-child(1) {
    width: 200px;
    height: 200px;
    transform: rotate(-30deg) skew(-28deg);
    background: linear-gradient(45deg, #ffbdf7, #cab2fa);
    filter: hue-rotate(48.39deg);
    top: 3060px;
    left: 5vw;
}

#colorPads div:nth-child(2) {
    width: 160px;
    height: 160px;
    left: 19vw;
    top: 3780px;
    transform: rotate(30deg) skew(28deg);
    background: linear-gradient(45deg, #d9f9ff, #d0baf9);
}

#colorPads div:nth-child(3) {
    width: 160px;
    height: 160px;
    left: 82vw;
    top: 3080px;
    transform: rotate(30deg) skew(-28deg);
    background: linear-gradient(45deg, #9caffc, #d1bdf9);
    filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(4) {
    width: 180px;
    height: 180px;
    left: 74vw;
    top: 3280px;
    transform: rotate(10deg) skew(-28deg);
    background: linear-gradient(45deg, #c5caff, #c0fcfd);
    filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(5) {
    width: 130px;
    height: 130px;
    left: 70vw;
    top: 3500px;
    transform: rotate(10deg) skew(28deg);
    background: linear-gradient(45deg, #beecfd, #bbffd4);
}

#colorPads div:nth-child(6) {
    width: 130px;
    height: 130px;
    left: 40vw;
    top: 3050px;
    transform: rotate(10deg) skew(48deg);
    background: linear-gradient(45deg, #bed4fd, #bbfdff);
}

#colorPads div:nth-child(7) {
    width: 130px;
    height: 130px;
    left: 60vw;
    top: 3300px;
    transform: rotate(10deg) skew(-18deg);
    background: linear-gradient(45deg, #befdfa, #c1ffbb);
}

#colorPads div:nth-child(8) {
    width: 160px;
    height: 160px;
    left: 85vw;
    top: 3500px;
    transform: rotate(60deg) skew(18deg);
    background: linear-gradient(45deg, #fdbef6, #ffbbbb);
}

#colorPads div:nth-child(9) {
    width: 160px;
    height: 160px;
    left: 5vw;
    top: 3500px;
    transform: rotate(20deg) skew(18deg);
    background: linear-gradient(45deg, #fdbebe, #ffe4bb);
}

#colorPads div:nth-child(10) {
    width: 190px;
    height: 190px;
    left: 15vw;
    top: 3300px;
    transform: rotate(20deg) skew(-48deg);
    background: linear-gradient(45deg, #fcbefd, #ffbbbb);
}